.tela{
    text-align: center;
    background-color: lightgray;
    margin-top: 200px;
}
body{
    background-image: url(../img/fundo.jpg);
    background-size: cover;
}
h1{
    text-align: center;  
    font-family: 'Urbanist', sans-serif;
}
.text{
    margin-top: 20px;
    font-family: 'Urbanist', sans-serif;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    height: 500px;
    width: 700px;
    background: #ffff;
    border-radius: 10px;
    opacity: 0.9;
    margin-left: 600px;
}
#name{
    border-radius: 5px;
    border-color: black
}
#nickname{
    border-radius: 5px;
    border-color: black
}
#day{
    border-radius: 5px;
    border-color: black
}
#month{
    border-radius: 5px;
    border-color: black
}
#year{
    border-radius: 5px;
    border-color: black
}
#cpf{
    border-radius: 5px;
    border-color: black
}
.btn{
    border: 0;
    padding:  10px 20px;
    margin-left: 300px;
    background-color: grey;
    color: white;
    transition: all 300ms ease;
}
.btn:hover{
    background-color: cadetblue;
}
.select{
    background-color: cadetblue;
    color: white;
    padding: 5px 5px;
    border-radius: 0;
}

